.auth-Wrapper body {
  background: #0e101c;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.auth-Wrapper form {
  max-width: 500px;
  margin: 0 auto;
}

.auth-Wrapper h1 {
  font-weight: 100;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(79, 98, 148);
}

.auth-Wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;

}

.auth-Wrapper form {
  width: 375px;
  margin: 0 auto;
}

.auth-Wrapper p {
  color: #bf1650;
}

.auth-Wrapper p::before {
  display: inline;
  content: "⚠ ";
}

.auth-Wrapper input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgb(0, 0, 0);
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.auth-Wrapper label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 200;
}

.auth-Wrapper button[type="submit"],
.auth-Wrapper input[type="submit"] {
  background: #ec5990;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
}

.auth-Wrapper button[type="submit"]:hover,
.auth-Wrapper input[type="submit"]:hover {
  background: #bf1650;
}

.auth-Wrapper button[type="submit"]:active,
.auth-Wrapper input[type="button"]:active,
.auth-Wrapper input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

.auth-Wrapper input:disabled {
  opacity: 0.4;
}

.auth-Wrapper input[type="button"]:hover {
  transition: 0.3s all;
}

.auth-Wrapper button[type="submit"],
.auth-Wrapper input[type="button"],
.auth-Wrapper input[type="submit"] {
  -webkit-appearance: none;
}

.auth-Wrapper button[type="button"] {
  display: block;
  appearance: none;
  background: #333;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

.auth-Wrapper hr {
  margin-top: 30px;
}

.auth-Wrapper button {
  display: block;
  appearance: none;
  margin-top: 40px;
  border: 1px solid #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}
